<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.AcCdnactFMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.AcCdnactF">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="idac_bcndact" jdbcType="VARCHAR" property="idacBcndact" />
    <id column="idcdnAccount" jdbcType="VARCHAR" property="idcdnaccount" />
    <result column="idfund" jdbcType="VARCHAR" property="idfund" />
    <result column="idrepaymentPlan" jdbcType="VARCHAR" property="idrepaymentplan" />
    <result column="idorder" jdbcType="VARCHAR" property="idorder" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
</mapper>