<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.AcFundaccountRMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.AcFundaccountR">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="idfundAccount" jdbcType="VARCHAR" property="idfundaccount" />
    <id column="idfund" jdbcType="VARCHAR" property="idfund" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="actType" jdbcType="VARCHAR" property="acttype" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="startTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="availableFlag" jdbcType="VARCHAR" property="availableflag" />
  </resultMap>
</mapper>