<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.AcIncomeRMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.AcIncomeR">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="idac_income" jdbcType="VARCHAR" property="idacIncome" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="payType" jdbcType="VARCHAR" property="paytype" />
    <result column="benfName" jdbcType="VARCHAR" property="benfname" />
    <result column="benfCode" jdbcType="VARCHAR" property="benfcode" />
    <result column="availableFlag" jdbcType="VARCHAR" property="availableflag" />
    <result column="ac_merchant_t_idmerchant" jdbcType="VARCHAR" property="acMerchantTIdmerchant" />
    <result column="ac_merchant_t_ac_merchantConfig_i_idmerchantConfig" jdbcType="VARCHAR" property="acMerchantTAcMerchantconfigIIdmerchantconfig" />
  </resultMap>
</mapper>