<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.AcMchtprfFMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.AcMchtprfF">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="idac_mchtPrf" jdbcType="VARCHAR" property="idacMchtprf" />
    <result column="orderAmount" jdbcType="DECIMAL" property="orderamount" />
    <result column="merchantAmount" jdbcType="DECIMAL" property="merchantamount" />
    <result column="merchantProporation" jdbcType="DECIMAL" property="merchantproporation" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="paymentStatus" jdbcType="VARCHAR" property="paymentstatus" />
    <result column="payType" jdbcType="VARCHAR" property="paytype" />
    <result column="prdcode" jdbcType="VARCHAR" property="prdcode" />
    <result column="idmchtPayment" jdbcType="VARCHAR" property="idmchtpayment" />
    <result column="idorder" jdbcType="VARCHAR" property="idorder" />
  </resultMap>
</mapper>