<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.AcMchtpaymentRMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.AcMchtpaymentR">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="idac_mchtPayment" jdbcType="VARCHAR" property="idacMchtpayment" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="payType" jdbcType="VARCHAR" property="paytype" />
    <result column="idmerchant" jdbcType="VARCHAR" property="idmerchant" />
    <result column="idmerchantConfig" jdbcType="VARCHAR" property="idmerchantconfig" />
  </resultMap>
</mapper>