<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.ActHiIdentitylinkMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.ActHiIdentitylink">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="GROUP_ID_" jdbcType="VARCHAR" property="groupId" />
    <result column="TYPE_" jdbcType="VARCHAR" property="type" />
    <result column="USER_ID_" jdbcType="VARCHAR" property="userId" />
    <result column="TASK_ID_" jdbcType="VARCHAR" property="taskId" />
    <result column="PROC_INST_ID_" jdbcType="VARCHAR" property="procInstId" />
  </resultMap>
</mapper>