<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.ActRuExecutionMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.ActRuExecution">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="REV_" jdbcType="INTEGER" property="rev" />
    <result column="PROC_INST_ID_" jdbcType="VARCHAR" property="procInstId" />
    <result column="BUSINESS_KEY_" jdbcType="VARCHAR" property="businessKey" />
    <result column="PARENT_ID_" jdbcType="VARCHAR" property="parentId" />
    <result column="PROC_DEF_ID_" jdbcType="VARCHAR" property="procDefId" />
    <result column="SUPER_EXEC_" jdbcType="VARCHAR" property="superExec" />
    <result column="ACT_ID_" jdbcType="VARCHAR" property="actId" />
    <result column="IS_ACTIVE_" jdbcType="TINYINT" property="isActive" />
    <result column="IS_CONCURRENT_" jdbcType="TINYINT" property="isConcurrent" />
    <result column="IS_SCOPE_" jdbcType="TINYINT" property="isScope" />
    <result column="IS_EVENT_SCOPE_" jdbcType="TINYINT" property="isEventScope" />
    <result column="SUSPENSION_STATE_" jdbcType="INTEGER" property="suspensionState" />
    <result column="CACHED_ENT_STATE_" jdbcType="INTEGER" property="cachedEntState" />
    <result column="TENANT_ID_" jdbcType="VARCHAR" property="tenantId" />
  </resultMap>
</mapper>