<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.ActRuEventSubscrMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.ActRuEventSubscr">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="REV_" jdbcType="INTEGER" property="rev" />
    <result column="EVENT_TYPE_" jdbcType="VARCHAR" property="eventType" />
    <result column="EVENT_NAME_" jdbcType="VARCHAR" property="eventName" />
    <result column="EXECUTION_ID_" jdbcType="VARCHAR" property="executionId" />
    <result column="PROC_INST_ID_" jdbcType="VARCHAR" property="procInstId" />
    <result column="ACTIVITY_ID_" jdbcType="VARCHAR" property="activityId" />
    <result column="CONFIGURATION_" jdbcType="VARCHAR" property="configuration" />
    <result column="CREATED_" jdbcType="TIMESTAMP" property="created" />
    <result column="PROC_DEF_ID_" jdbcType="VARCHAR" property="procDefId" />
    <result column="TENANT_ID_" jdbcType="VARCHAR" property="tenantId" />
  </resultMap>
</mapper>