<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.AcUsraccountRMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.AcUsraccountR">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="idac_usrAccount" jdbcType="VARCHAR" property="idacUsraccount" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="prdCode" jdbcType="VARCHAR" property="prdcode" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="startTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="idusr" jdbcType="VARCHAR" property="idusr" />
    <result column="idusrCredit" jdbcType="VARCHAR" property="idusrcredit" />
  </resultMap>
</mapper>