<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.AcUsrTMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.AcUsrT">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="idac_usr" jdbcType="VARCHAR" property="idacUsr" />
    <result column="usrName" jdbcType="VARCHAR" property="usrname" />
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="availableFlag" jdbcType="VARCHAR" property="availableflag" />
  </resultMap>
</mapper>