<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.CiCashSubmitApplyMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.CiCashSubmitApply">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
</mapper>