<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.CiFundAllocationMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.CiFundAllocation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="allot_amount" jdbcType="DOUBLE" property="allotAmount" />
    <result column="repaid_amount" jdbcType="DOUBLE" property="repaidAmount" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="agent_id" jdbcType="VARCHAR" property="agentId" />
  </resultMap>
</mapper>