<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.CiFundFlowMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.CiFundFlow">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="relevance_id" jdbcType="VARCHAR" property="relevanceId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="bank_num" jdbcType="VARCHAR" property="bankNum" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="capital_type" jdbcType="CHAR" property="capitalType" />
    <result column="trade_sub_type" jdbcType="VARCHAR" property="tradeSubType" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated" />
  </resultMap>
</mapper>