<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.CiInvestorMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.CiInvestor">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="invester_name" jdbcType="VARCHAR" property="investerName" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="single_limit" jdbcType="DECIMAL" property="singleLimit" />
    <result column="month_limit" jdbcType="DECIMAL" property="monthLimit" />
    <result column="active" jdbcType="BIT" property="active" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated" />
  </resultMap>
</mapper>