<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.CiProjectFundMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.CiProjectFund">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="matched_status" jdbcType="VARCHAR" property="matchedStatus" />
    <result column="transfer_status" jdbcType="VARCHAR" property="transferStatus" />
    <result column="matched_date" jdbcType="TIMESTAMP" property="matchedDate" />
    <result column="transfer_date" jdbcType="TIMESTAMP" property="transferDate" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated" />
  </resultMap>
</mapper>