<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.CityMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.City">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="STATE_ID" jdbcType="CHAR" property="stateId" />
    <result column="COUNTRY_CODE" jdbcType="CHAR" property="countryCode" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SORT_ID" jdbcType="TINYINT" property="sortId" />
  </resultMap>
</mapper>