<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.CoreMessagesDelayMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.CoreMessagesDelay">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="M_GUID" jdbcType="VARCHAR" property="mGuid" />
    <id column="M_RECEIVER" jdbcType="VARCHAR" property="mReceiver" />
    <result column="SEND_TIME" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="MAX_RNUM" jdbcType="SMALLINT" property="maxRnum" />
  </resultMap>
</mapper>