<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.CoreWebCachesMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.CoreWebCaches">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CACHEIP" jdbcType="VARCHAR" property="cacheip" />
    <id column="USERGUID" jdbcType="VARCHAR" property="userguid" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CACHES" jdbcType="LONGVARCHAR" property="caches" />
  </resultMap>
</mapper>