<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.CoreMessagesDMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.CoreMessagesD">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="M_GUID" jdbcType="VARCHAR" property="mGuid" />
    <id column="M_RECEIVER" jdbcType="VARCHAR" property="mReceiver" />
    <result column="M_OPT_STATUS" jdbcType="VARCHAR" property="mOptStatus" />
    <result column="M_OPT_LAST_TIME" jdbcType="TIMESTAMP" property="mOptLastTime" />
    <result column="OPT_BUSI_TYPE" jdbcType="VARCHAR" property="optBusiType" />
    <result column="M_RECEIVER_TYPE" jdbcType="VARCHAR" property="mReceiverType" />
  </resultMap>
</mapper>