<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.CoreHMessagesSentMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.CoreHMessagesSent">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="M_GUID" jdbcType="VARCHAR" property="mGuid" />
    <result column="M_RECEIVER" jdbcType="VARCHAR" property="mReceiver" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CLIENT_IP" jdbcType="VARCHAR" property="clientIp" />
    <result column="XID" jdbcType="LONGVARCHAR" property="xid" />
  </resultMap>
</mapper>