<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.CoreWftaskinstMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.CoreWftaskinst">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="TASKINSTID" jdbcType="VARCHAR" property="taskinstid" />
    <result column="TASKNAME" jdbcType="VARCHAR" property="taskname" />
    <result column="CURRENTSTATE" jdbcType="VARCHAR" property="currentstate" />
    <result column="PARTICIPANTID" jdbcType="VARCHAR" property="participantid" />
    <result column="PARTICIPANTNAME" jdbcType="VARCHAR" property="participantname" />
    <result column="PARTICIPANTTYPE" jdbcType="VARCHAR" property="participanttype" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="STARTTIME" jdbcType="TIMESTAMP" property="starttime" />
    <result column="ENDTIME" jdbcType="TIMESTAMP" property="endtime" />
    <result column="REMINDTIME" jdbcType="TIMESTAMP" property="remindtime" />
    <result column="FINALTIME" jdbcType="TIMESTAMP" property="finaltime" />
    <result column="ISTIMEOUT" jdbcType="VARCHAR" property="istimeout" />
    <result column="ACTINSTID" jdbcType="VARCHAR" property="actinstid" />
    <result column="PROCESSINSTID" jdbcType="VARCHAR" property="processinstid" />
    <result column="A_CURRENTSTATE" jdbcType="VARCHAR" property="aCurrentstate" />
    <result column="P_CURRENTSTATE" jdbcType="VARCHAR" property="pCurrentstate" />
    <result column="PROCESSDEFID" jdbcType="VARCHAR" property="processdefid" />
    <result column="ACTIVITYDEFID" jdbcType="VARCHAR" property="activitydefid" />
    <result column="PRIORITY" jdbcType="DOUBLE" property="priority" />
    <result column="EXTEND1" jdbcType="VARCHAR" property="extend1" />
    <result column="EXTEND2" jdbcType="VARCHAR" property="extend2" />
    <result column="EXTEND3" jdbcType="VARCHAR" property="extend3" />
    <result column="EXTEND4" jdbcType="VARCHAR" property="extend4" />
    <result column="EXTEND5" jdbcType="VARCHAR" property="extend5" />
    <result column="EXTEND6" jdbcType="VARCHAR" property="extend6" />
    <result column="EXTEND7" jdbcType="VARCHAR" property="extend7" />
    <result column="TASKDESC" jdbcType="LONGVARCHAR" property="taskdesc" />
    <result column="EXECUTORID" jdbcType="LONGVARCHAR" property="executorid" />
    <result column="EXTEND8" jdbcType="LONGVARCHAR" property="extend8" />
    <result column="EXTEND9" jdbcType="LONGVARCHAR" property="extend9" />
  </resultMap>
</mapper>