<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.CoreLoginCtrMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.CoreLoginCtr">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CREATEMAN" jdbcType="VARCHAR" property="createman" />
    <result column="USERADDRESS" jdbcType="VARCHAR" property="useraddress" />
    <result column="LOGIN_DATE" jdbcType="VARCHAR" property="loginDate" />
  </resultMap>
</mapper>