<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.CoreHMessagesMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.CoreHMessages">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="M_GUID" jdbcType="VARCHAR" property="mGuid" />
    <result column="CREATEMAN" jdbcType="VARCHAR" property="createman" />
    <result column="CREATEMAN_NM" jdbcType="VARCHAR" property="createmanNm" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="OPT_BUSI_TYPE" jdbcType="VARCHAR" property="optBusiType" />
    <result column="BQ_ID" jdbcType="VARCHAR" property="bqId" />
    <result column="BR_ID" jdbcType="VARCHAR" property="brId" />
    <result column="BA_ID" jdbcType="VARCHAR" property="baId" />
    <result column="KS_ID" jdbcType="VARCHAR" property="ksId" />
    <result column="M_PRIORITY" jdbcType="DOUBLE" property="mPriority" />
    <result column="EXTEND1" jdbcType="VARCHAR" property="extend1" />
    <result column="EXTEND2" jdbcType="VARCHAR" property="extend2" />
    <result column="EXTEND3" jdbcType="VARCHAR" property="extend3" />
    <result column="EXTEND4" jdbcType="VARCHAR" property="extend4" />
    <result column="EXTEND5" jdbcType="VARCHAR" property="extend5" />
    <result column="MSG_BUSI_TYPE" jdbcType="VARCHAR" property="msgBusiType" />
    <result column="M_TITLE" jdbcType="LONGVARCHAR" property="mTitle" />
    <result column="M_CONTENT" jdbcType="LONGVARCHAR" property="mContent" />
    <result column="OPT_BUSI_ENTITY" jdbcType="LONGVARCHAR" property="optBusiEntity" />
    <result column="EXTEND6" jdbcType="LONGVARCHAR" property="extend6" />
    <result column="MSG_PARENT_ID" jdbcType="LONGVARCHAR" property="msgParentId" />
  </resultMap>
</mapper>