<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.CoreUserParamsMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.CoreUserParams">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="XTID" jdbcType="VARCHAR" property="xtid" />
    <result column="BH" jdbcType="VARCHAR" property="bh" />
    <result column="YHID" jdbcType="VARCHAR" property="yhid" />
    <result column="ZDBH" jdbcType="VARCHAR" property="zdbh" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="ID" jdbcType="LONGVARCHAR" property="id" />
    <result column="PZZ" jdbcType="LONGVARCHAR" property="pzz" />
  </resultMap>
</mapper>