<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.DataSourceLogMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.DataSourceLog">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="datasource_id" jdbcType="INTEGER" property="datasourceId" />
    <result column="datasource_name" jdbcType="VARCHAR" property="datasourceName" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="call_url" jdbcType="VARCHAR" property="callUrl" />
    <result column="exception" jdbcType="CHAR" property="exception" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="param" jdbcType="LONGVARCHAR" property="param" />
    <result column="result" jdbcType="LONGVARCHAR" property="result" />
  </resultMap>
</mapper>