<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.EmploymentMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.Employment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_phone" jdbcType="VARCHAR" property="companyPhone" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="is_current" jdbcType="BIT" property="isCurrent" />
    <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated" />
    <result column="company_address" jdbcType="VARCHAR" property="companyAddress" />
    <result column="company_nature" jdbcType="INTEGER" property="companyNature" />
    <result column="addtime" jdbcType="INTEGER" property="addtime" />
  </resultMap>
</mapper>