<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.JckjPzxxMinibarMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.JckjPzxxMinibar">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="PZ_ID" jdbcType="VARCHAR" property="pzId" />
    <result column="PZ_TYPE" jdbcType="VARCHAR" property="pzType" />
    <result column="PZ_VALUE" jdbcType="VARCHAR" property="pzValue" />
    <result column="CREATEMAN" jdbcType="VARCHAR" property="createman" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="PZ_ORDER_NUM" jdbcType="DOUBLE" property="pzOrderNum" />
    <result column="PZ_GROUP" jdbcType="VARCHAR" property="pzGroup" />
  </resultMap>
</mapper>