<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.JckjOrgMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.JckjOrg">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="DEPTID" jdbcType="DOUBLE" property="deptid" />
    <result column="DEPTNAME" jdbcType="VARCHAR" property="deptname" />
    <result column="SPELL" jdbcType="VARCHAR" property="spell" />
    <result column="DEPTCODE" jdbcType="VARCHAR" property="deptcode" />
    <result column="P_DEPTID" jdbcType="DOUBLE" property="pDeptid" />
    <result column="DTYPE" jdbcType="VARCHAR" property="dtype" />
    <result column="DSTATUS" jdbcType="VARCHAR" property="dstatus" />
  </resultMap>
</mapper>