<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.JckjJsjsMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.JckjJsjs">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="JSJS" jdbcType="VARCHAR" property="jsjs" />
    <id column="JSID" jdbcType="VARCHAR" property="jsid" />
  </resultMap>
</mapper>