<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.JckjCdMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.JckjCd">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="XTID" jdbcType="VARCHAR" property="xtid" />
    <result column="MC" jdbcType="VARCHAR" property="mc" />
    <result column="SM" jdbcType="VARCHAR" property="sm" />
    <result column="TB" jdbcType="VARCHAR" property="tb" />
    <result column="FZBH" jdbcType="DOUBLE" property="fzbh" />
    <result column="PXBH" jdbcType="DOUBLE" property="pxbh" />
    <result column="CDLX" jdbcType="DOUBLE" property="cdlx" />
    <result column="SC" jdbcType="TINYINT" property="sc" />
    <result column="ZXLX" jdbcType="DOUBLE" property="zxlx" />
    <result column="SJID" jdbcType="VARCHAR" property="sjid" />
    <result column="MS" jdbcType="BIGINT" property="ms" />
    <result column="ZXFF" jdbcType="LONGVARCHAR" property="zxff" />
    <result column="ZXCS" jdbcType="LONGVARCHAR" property="zxcs" />
  </resultMap>
</mapper>