<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.MerchantRulesConfigMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.MerchantRulesConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
    <result column="decision" jdbcType="VARCHAR" property="decision" />
    <result column="fraud" jdbcType="VARCHAR" property="fraud" />
    <result column="early_fraud" jdbcType="VARCHAR" property="earlyFraud" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated" />
  </resultMap>
</mapper>