<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.MerchantRsaConfigMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.MerchantRsaConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
    <result column="credan_rsa_private_key" jdbcType="VARCHAR" property="credanRsaPrivateKey" />
    <result column="credan_rsa_public_key" jdbcType="VARCHAR" property="credanRsaPublicKey" />
    <result column="rsa_private_key" jdbcType="VARCHAR" property="rsaPrivateKey" />
    <result column="rsa_public_key" jdbcType="VARCHAR" property="rsaPublicKey" />
    <result column="aes_key" jdbcType="VARCHAR" property="aesKey" />
    <result column="environment" jdbcType="VARCHAR" property="environment" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated" />
  </resultMap>
</mapper>