<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.RiskInfoMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.RiskInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="config_id" jdbcType="VARCHAR" property="configId" />
    <result column="apply_id" jdbcType="VARCHAR" property="applyId" />
    <result column="risk_status" jdbcType="CHAR" property="riskStatus" />
    <result column="call_rules_count" jdbcType="BIGINT" property="callRulesCount" />
    <result column="call_rules_result" jdbcType="CHAR" property="callRulesResult" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated" />
  </resultMap>
</mapper>