<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.Rong360MailMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.Rong360Mail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mail_suffix" jdbcType="VARCHAR" property="mailSuffix" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
</mapper>