<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.RulesTransactionMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.RulesTransaction">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tranx_id" jdbcType="INTEGER" property="tranxId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="is_fraud" jdbcType="TINYINT" property="isFraud" />
    <result column="is_bad_debt" jdbcType="TINYINT" property="isBadDebt" />
    <result column="is_overdue" jdbcType="TINYINT" property="isOverdue" />
  </resultMap>
</mapper>