<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.RulesInputMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.RulesInput">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="early_fraud_input" jdbcType="VARCHAR" property="earlyFraudInput" />
    <result column="fraud_input" jdbcType="VARCHAR" property="fraudInput" />
    <result column="decision_input" jdbcType="VARCHAR" property="decisionInput" />
    <result column="process_id" jdbcType="VARCHAR" property="processId" />
    <result column="response" jdbcType="VARCHAR" property="response" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="step" jdbcType="VARCHAR" property="step" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
  </resultMap>
</mapper>