<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.ScheduleJobMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.ScheduleJob">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="job_id" jdbcType="VARCHAR" property="jobId" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="job_group" jdbcType="VARCHAR" property="jobGroup" />
    <result column="job_status" jdbcType="CHAR" property="jobStatus" />
    <result column="is_concurrent" jdbcType="VARCHAR" property="isConcurrent" />
    <result column="cron_expression" jdbcType="VARCHAR" property="cronExpression" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="spring_id" jdbcType="VARCHAR" property="springId" />
    <result column="job_class" jdbcType="VARCHAR" property="jobClass" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="previous_time" jdbcType="TIMESTAMP" property="previousTime" />
    <result column="next_time" jdbcType="TIMESTAMP" property="nextTime" />
    <result column="run_count" jdbcType="BIGINT" property="runCount" />
    <result column="error_count" jdbcType="BIGINT" property="errorCount" />
  </resultMap>
</mapper>