<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.SysDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.SysDictionary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dict_type" jdbcType="VARCHAR" property="dictType" />
    <result column="dict_name" jdbcType="VARCHAR" property="dictName" />
    <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
</mapper>