<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.ThirdUserRawDataMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.ThirdUserRawData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="data_version" jdbcType="BIGINT" property="dataVersion" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated" />
    <result column="raw_updated" jdbcType="TIMESTAMP" property="rawUpdated" />
    <result column="raw_data" jdbcType="LONGVARCHAR" property="rawData" />
  </resultMap>
</mapper>