<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.TMobileInitMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.TMobileInit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mobile" jdbcType="CHAR" property="mobile" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="area_code" jdbcType="CHAR" property="areaCode" />
    <result column="post_code" jdbcType="CHAR" property="postCode" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
</mapper>