<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.TmpDualMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.TmpDual">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="du" jdbcType="VARCHAR" property="du" />
  </resultMap>
</mapper>