<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.UserDeviceMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.UserDevice">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="active" jdbcType="BIT" property="active" />
    <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
</mapper>