<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.UserScoreLogMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.UserScoreLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="score_rate" jdbcType="DECIMAL" property="scoreRate" />
    <result column="cash_rate" jdbcType="DECIMAL" property="cashRate" />
    <result column="opt_score" jdbcType="DECIMAL" property="optScore" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="rc_user_id" jdbcType="VARCHAR" property="rcUserId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
  </resultMap>
</mapper>