<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.UserCallLogMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.UserCallLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="call_in_num" jdbcType="VARCHAR" property="callInNum" />
    <result column="call_in_time_count" jdbcType="VARCHAR" property="callInTimeCount" />
    <result column="call_in_time" jdbcType="VARCHAR" property="callInTime" />
    <result column="call_in_count" jdbcType="VARCHAR" property="callInCount" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="call_type" jdbcType="VARCHAR" property="callType" />
  </resultMap>
</mapper>