<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.UserSinaPayMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.UserSinaPay">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="client_ip" jdbcType="VARCHAR" property="clientIp" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="cert_no" jdbcType="VARCHAR" property="certNo" />
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="bank_code" jdbcType="VARCHAR" property="bankCode" />
    <result column="bank_no" jdbcType="VARCHAR" property="bankNo" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="ticket" jdbcType="VARCHAR" property="ticket" />
    <result column="valid_code" jdbcType="VARCHAR" property="validCode" />
    <result column="quota" jdbcType="DECIMAL" property="quota" />
    <result column="day_quota" jdbcType="DECIMAL" property="dayQuota" />
    <result column="redirect_url" jdbcType="VARCHAR" property="redirectUrl" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated" />
  </resultMap>
</mapper>