<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.UserBehaviorDenormalMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.UserBehaviorDenormal">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <id column="id_type" jdbcType="INTEGER" property="idType" />
    <result column="count_24h" jdbcType="INTEGER" property="count24h" />
    <result column="count_2d" jdbcType="INTEGER" property="count2d" />
    <result column="count_7d" jdbcType="INTEGER" property="count7d" />
    <result column="count_30d" jdbcType="INTEGER" property="count30d" />
    <result column="count_3m" jdbcType="INTEGER" property="count3m" />
    <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated" />
    <result column="active" jdbcType="BIT" property="active" />
  </resultMap>
</mapper>