<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.VCoreUserMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.VCoreUser">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
    <result column="USER_UNICODE" jdbcType="VARCHAR" property="userUnicode" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_SEX" jdbcType="VARCHAR" property="userSex" />
    <result column="USER_BIRTHDAY" jdbcType="VARCHAR" property="userBirthday" />
    <result column="SPELL" jdbcType="VARCHAR" property="spell" />
    <result column="ROLE" jdbcType="VARCHAR" property="role" />
    <result column="STOPPED" jdbcType="BIGINT" property="stopped" />
    <result column="DEPTNO" jdbcType="VARCHAR" property="deptno" />
    <result column="DEPTNAME" jdbcType="VARCHAR" property="deptname" />
    <result column="WARDNAME" jdbcType="VARCHAR" property="wardname" />
    <result column="USER_TYPE" jdbcType="BIGINT" property="userType" />
    <result column="USER_MEMO" jdbcType="LONGVARCHAR" property="userMemo" />
    <result column="ZC_ID" jdbcType="BINARY" property="zcId" />
    <result column="ZC_NAME" jdbcType="LONGVARCHAR" property="zcName" />
    <result column="PTCFQBZ" jdbcType="BINARY" property="ptcfqbz" />
    <result column="TSCFQBZ" jdbcType="BINARY" property="tscfqbz" />
    <result column="YBCODE" jdbcType="BINARY" property="ybcode" />
    <result column="PASSWORDS" jdbcType="BINARY" property="passwords" />
    <result column="WARDNO" jdbcType="BINARY" property="wardno" />
  </resultMap>
</mapper>