<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.VCoreUrightMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.VCoreUright">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="UGUID" jdbcType="VARCHAR" property="uguid" />
    <result column="RGUID" jdbcType="VARCHAR" property="rguid" />
    <result column="RCODE" jdbcType="VARCHAR" property="rcode" />
    <result column="RTYPE" jdbcType="VARCHAR" property="rtype" />
  </resultMap>
</mapper>