<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.VCoreRightMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.VCoreRight">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="MC" jdbcType="VARCHAR" property="mc" />
    <result column="SPELL" jdbcType="VARCHAR" property="spell" />
    <result column="XCODE" jdbcType="VARCHAR" property="xcode" />
    <result column="RTYPE" jdbcType="VARCHAR" property="rtype" />
    <result column="PID" jdbcType="VARCHAR" property="pid" />
    <result column="RDESC" jdbcType="VARCHAR" property="rdesc" />
  </resultMap>
</mapper>