<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.WithholdingPaymentMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.WithholdingPayment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oid_partner" jdbcType="VARCHAR" property="oidPartner" />
    <result column="sign_type" jdbcType="VARCHAR" property="signType" />
    <result column="dt_order" jdbcType="VARCHAR" property="dtOrder" />
    <result column="no_order" jdbcType="VARCHAR" property="noOrder" />
    <result column="oid_paybill" jdbcType="VARCHAR" property="oidPaybill" />
    <result column="money_order" jdbcType="VARCHAR" property="moneyOrder" />
    <result column="result_pay" jdbcType="VARCHAR" property="resultPay" />
    <result column="settle_date" jdbcType="TIMESTAMP" property="settleDate" />
    <result column="info_order" jdbcType="VARCHAR" property="infoOrder" />
    <result column="pay_type" jdbcType="VARCHAR" property="payType" />
    <result column="bank_code" jdbcType="VARCHAR" property="bankCode" />
    <result column="no_agree" jdbcType="VARCHAR" property="noAgree" />
    <result column="id_type" jdbcType="INTEGER" property="idType" />
    <result column="id_no" jdbcType="VARCHAR" property="idNo" />
    <result column="acct_name" jdbcType="VARCHAR" property="acctName" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
    <result column="status_code" jdbcType="INTEGER" property="statusCode" />
  </resultMap>
</mapper>