<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credan.data.inport.dao.YlInfoEduMapper">
  <resultMap id="BaseResultMap" type="com.credan.data.inport.entity.YlInfoEdu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="degree" jdbcType="VARCHAR" property="degree" />
    <result column="yl_info_basic_id" jdbcType="INTEGER" property="ylInfoBasicId" />
  </resultMap>
</mapper>